## .NET
bin/
obj/
*.user
*.suo
*.cache
*.db
*.opendb

## Visual Studio
.vs/
*.rsuser
launchSettings.json

## NuGet
packages/
*.nupkg

## Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
publish/
*.zip

## Logs
*.log

## OS
Thumbs.db
.DS_Store

## IDE
.idea/
*.swp
*.swo
